<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>RVOCocos-desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RVOCocos-mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5087E73D17EB910900C73F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7918E381CB3A391006867B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7918E4D1CB3A392006867B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7918E581CB3A392006867B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7918E6C1CB3A3B4006867B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
